 body {
            font-family: Arial, sans-serif;
            margin: 0; padding: 0;
            background-color: #f4f4f9;
            color: #333;
<!--background-image: url('logo.png');background-repeat: no-repeat; background-attachment: fixed; background-size: cover;-->
        }
        header {
            background: #005f73;
            color: white;
            padding: 20px 0;
            text-align: center;
	    position: sticky;
	    top: 0px;
	    z-index: 9999;
	    
        }
	header h1{
            color: white;
        }
        nav {
            margin-top: 10px;
	    
        }
        nav a {
            color: white;
            margin: 0 15px;
            text-decoration: none;
            font-weight: bold;
        }
        nav a:hover {
            text-decoration: underline;
        }
        footer {
            text-align: center;
            padding: 15px 0;
            background: #005f73;
            color: white;
            <--position: fixed;-->
	    position: fixed;
            width: 100%;
            bottom: 0;
        }
footer a {
  color: white;
   font-size: 15px;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
}

footer a:hover {
  color: #8ecae6;
}
